* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center; 
    padding: 0;
    margin: 0;   
}

input {
   width: 500px;
   padding: 15px;
   margin-top: 20px;
   border-radius: 5px;
}

.gridContainer {
    max-width: 1000px;
    margin: 45px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 40px;
}
